<div class="container">
  <form action="/emp/save-emp" method="post">
<div class="form-group">
  <fieldset >
    <label class="form-label mt-4" for="readonlyinput"> NAME</label>
    <input class="form-control" name="fullName" id="readonlyinput" type="text" placeholder="ENTER NAME">
  </fieldset>
</div>
<div class="form-group">
  <fieldset >
    <label class="form-label mt-4" for="read"> EMAIL</label>
    <input class="form-control" name="email" id="read" type="text" placeholder="ENTER EMAIL">
  </fieldset>
</div>
<div class="form-group">
  <fieldset >
    <label class="form-label mt-4" for="only">MOBILE</label>
    <input class="form-control" name="phone" id="only" type="text" placeholder="ENTER MOBILE">
  </fieldset>
</div>
<div class="form-group">
  <fieldset >
    <label class="form-label mt-4" for="onl">CITY</label>
    <input class="form-control" name="city" id="onl" type="text" placeholder="ENTER CITY">
  </fieldset>
</div>
<br>
<input type="submit" class="btn btn-block btn-success">
</form>
</div>




  
   

  
 
