<div class="container">
    <div class="text-center"><h1>EMPLOYEE MANAGEMENT SYSTEM </h1></div>
    <a href="/emp/add-emp" class="btn btn-block btn-success">ADD EMPLOYEE</a>
    <a href="/emp/show-all-emp" class="btn btn-block btn-primary">SHOW EMPLOYEE</a>
    <a href="/emp/update-all-emp" class="btn btn-block btn-secondary">UPDATE EMPLOYEE</a>

    <a href="/emp/delete-all-emp" class="btn btn-block btn-danger">DELETE EMPLOYEE</a>

</div>  