<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
     <td>NAME</td>
      <td>EMAIL</td>
      <td>PHONE</td>
      <td>CITY</td>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
  <tr>
      <th scope="row">{{this.fullName}}</th>
      <td>{{this.email}}</td>
      <td>{{this.mobile}}</td>
      <td>{{this.city}}</td>
    </tr>
    {{/each}}
</tbody>
</table>
</div>